{% extends "user/company/loggedcompany.html" %}
{% load widget_tweaks %}

{% block body %}
<br>
<div class="container" style="background-color: white;">
    <div class="row align-items-center mb-5">
        <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
                <div class="border p-2 d-inline-block mr-3 rounded">
                    <img alt="Image" src="{{job.user.companyprofilemodel.logo.url}}" style="width:120px;height:100px;">
                </div>
                <div>
                    <h2><a href="{% url 'job-profile' job.id %}">{{job.job_title}}</a></h2>
                    <div>
                        <a class="ml-0 mr-2 mb-2" href="{% url 'company-profile' job.user.id %}"><span
                                class="icon-briefcase mr-2"></span>{{job.user.name}}</a>
                        <span class="m-2"><span class="icon-room mr-2"></span>{{job.location}}</span>
                        <span class="m-2"><span class="icon-clock-o mr-2"></span><span class="text-primary">{{job.job_type}}</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="mb-5">
                <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                    <span class="icon-align-left mr-3"></span>Applicant list
                </h3>



                <p><b>List of 65% - 100% match with Job Requirements:</b></p>
                {% for application in applications %} {% if job.id == application.job.id and application.percentage >= 65 %}

                <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                    <a href="{% url 'applicant-public-profile' application.applicant.id %}">
                        <b>{{application.applicant.name|upper}}
                            {% if application.applicant.applicantprofilemodel.phone %}
                            Phone No: {{application.applicant.applicantprofilemodel.phone}}
                            {% endif %}
                            ({{application.percentage}}%)
                        </b>
                    </a>
                </li>
                {% endif %} {% endfor %}

                <hr/>

                <p><b>List of 35% - 65% match with Job Requirements:</b></p>
                {% for application in applications %} {% if job.id == application.job.id and application.percentage >= 35 and application.percentage
                < 65 %} <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                    <a href="{% url 'applicant-public-profile' application.applicant.id %}">
                        <b>{{application.applicant.name|upper}}
                            {% if application.applicant.applicantprofilemodel.phone %}
                            Phone No: {{application.applicant.applicantprofilemodel.phone}}
                            {% endif %}
                            ({{application.percentage}}%)
                        </b>
                    </a>
                    </li>
                    {% endfor %}

                    <hr/>

                    <p><b>List of Below 35% match with Job Requirements:</b></p>
                    {% for application in applications %} {% if job.id == application.job.id and application.percentage < 35 %} <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                        <a href="{% url 'applicant-public-profile' application.applicant.id %}">
                            <b>{{application.applicant.name|upper}}
                            {% if application.applicant.applicantprofilemodel.phone %}
                            Phone No: {{application.applicant.applicantprofilemodel.phone}}
                            {% endif %}
                            ({{application.percentage}}%)
                        </b>
                        </a>
                        </li>
                        {% endif %} {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}