{% extends "user/company/loggedcompany.html" %}
{% load widget_tweaks %}

{% block body %}
<br>
<div class="container" style="background-color: white;">

    <div class="row mb-5">
        <div class="col-lg-12">
            <form method="POST" action="" enctype="multipart/form-data" class="p-4 p-md-5 border rounded">
                <h3 class="text-black mb-5 border-bottom pb-2">Job Form</h3>
                {% csrf_token %} {{ form.media }} {{form.is_active.as_hidden}}

                <div class="form-group">
                    <label>Upload Featured Image</label> <br> {{ form.image|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label>Job Title</label> {{ form.job_title|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Location</label> {{ form.location|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Job Type</label> {{ form.job_type|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Job Description</label> <br> {{ form.job_desc|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Vacancy</label> {{ form.vacancy|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Experience Required (minimum in months)</label> {{ form.experience|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Salary</label> {{ form.salary|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Requirements</label> <br> {{ form.requirements|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Responsibilities</label> <br> {{ form.responsibilities|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Application Deadline</label> {{ form.deadline|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Gender</label> {{ form.gender|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Additional Note</label> <br> {{ form.additional_note|add_class:"form-control" }}
                </div>
                <div class="col-12">
                    <button class="btn btn-block btn-info " type="submit">{{ task }} Job</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    const form_fields = document.getElementsByTagName("input")

    form_fields[3].placeholder = 'Job Title'
    form_fields[4].placeholder = 'Location'

    form_fields[5].placeholder = 'Vacancy'
    form_fields[6].placeholder = 'Minimum required experience(in month)'
    form_fields[7].placeholder = 'Salary'
</script>

{% endblock %}