{% extends "user/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h2 class="mb-4">Sign Up To Career Cloud</h2>
                <form action="" class="p-4 border rounded" method="POST">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Email Address</label>
                            {{ form.email|add_class:"form-control"|attr:"autofocus" }}
                            {{ form.email.errors }}
                            <p>{{ form.email.help_text|safe }}</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Full Name</label>
                            {{ form.name|add_class:"form-control" }}
                            {{ form.name.errors }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">{{form.password1.label}}</label>
                            {{ form.password1|add_class:"form-control" }}
                            {{ form.password1.errors }}
                            <p class="help">{{ form.password1.help_text|safe }}</p>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Re-Type Password</label>
                            {{ form.password2|add_class:"form-control" }}
                            {{ form.password2.errors }}
                            <p class="help">{{ form.password2.help_text|safe }}</p>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <input class="agree-term" id="agree-term" name="check" type="checkbox"/>
                            <label class="label-agree-term" for="agree-term">
                                I agree to all statements in <a class="term-service" href="#">Terms of service</a>
                            </label>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            {{form.is_applicant.as_hidden}}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input class="btn px-4 btn-info text-white" name="Create User" type="submit"
                                   value="Sign Up">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    const form_fields = document.getElementsByTagName("input")

    form_fields[1].placeholder = 'Email Address'
    form_fields[2].placeholder = 'Full Name'
    form_fields[3].placeholder = 'Password'
    form_fields[4].placeholder = 'Re-Type Password'
</script>

{% endblock %}
