{% extends "user/base.html" %}
{% load static %}

{% block content %}
<section class="about">
    <div class="about-us">
        <div class="image">
            <img src="{% static 'assets/images/about.jpg' %}" alt="About Us">
        </div>
        <div class="about-txt">
            <h2>About Career Cloud</h2>
            <p>CareerCloud is a resource to help you build a career and a life of your choosing — whether that is
                finding your first job, or the next job, making a career pivot or breaking away into the world of
                freelance and entrepreneurship. CareerCloud is here with the best resources, guidance and real life
                advice to get you from where you are to where you want to go.</p>
           
        </div>
    </div>

</section>

{% endblock %}