{% extends "user/base.html" %} {% load static %} {% load widget_tweaks %} {% block content %}

<!-- NAVBAR -->
<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h2 class="mb-4">Log In To Career Cloud</h2>
                <form method="POST" action="" class="p-4 border rounded">
                    {% csrf_token %}

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Email address</label> {{ form.email|add_class:"form-control"|attr:"autofocus" }} {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Password</label> {{ form.password|add_class:"form-control" }} {{ form.password.errors }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Login" class="btn px-4 btn-info text-white">
                        </div>
                    </div>

                    <div class="text-danger">
                        <p>{{ form.non_field_errors }}</p>
                    </div>

                    <!-- <h6 class="mb-2">Forgot Password? <a href="{% url 'reset-password' %}">Reset Now</a></h6> -->
                </form>
            </div>
            <div class="col-lg-6 mb-5">
                <img src="{% static 'assets/images/home-images/Group 17558.png' %}" alt="" width="100%">
            </div>
        </div>
    </div>
</section>

<script>
    const form_fields = document.getElementsByTagName("input")

    form_fields[1].placeholder = 'Email Address'
    form_fields[2].placeholder = 'Password'
</script>

{% endblock %}